.banner1-1-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-item {
  align-self: stretch;
  width: 1920px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
.logo-icon {
  height: 116.2px;
  width: 83px;
  position: relative;
  object-fit: cover;
}
.about-us1,
.home,
.products {
  position: relative;
  display: inline-block;
}
.home {
  min-width: 62px;
}
.about-us1,
.products {
  flex: 1;
}
.about-us1 {
  min-width: 105px;
  white-space: nowrap;
}
.products {
  min-width: 112px;
}
.home-parent {
  width: 479px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 100px;
  max-width: 100%;
}
.love-1-icon,
.trolley-cart-1-icon,
.user-1-1 {
  height: 31px;
  width: 28px;
  position: relative;
  object-fit: cover;
  min-height: 31px;
}
.frame-div,
.user-1-1-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.user-1-1-parent {
  width: 244px;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.frame-div {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.nav-inner {
  width: 1323px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
}
.nav,
.nav-inner,
.rectangle-group {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.nav {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 2;
}
.rectangle-group {
  width: 1920px;
  background-color: var(--color-black);
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-47xl);
  box-sizing: border-box;
  z-index: 1;
}
.search-bar-child {
  height: 50.2px;
  width: 463px;
  position: relative;
  border-radius: var(--br-4xl);
  background-color: var(--color-gainsboro-100);
  display: none;
  max-width: 100%;
}
.frame-inner,
.search {
  position: relative;
  z-index: 1;
}
.search {
  width: 401px;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 37.1px;
  color: #969696;
  text-align: left;
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 0;
}
.frame-inner {
  width: 27px;
  height: 27.3px;
}
.search-bar-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.3px 0 0;
}
.search-bar {
  align-self: stretch;
  border-radius: var(--br-4xl);
  background-color: var(--color-gainsboro-100);
  flex-direction: row;
  padding: 7.6px var(--padding-xs) 5.5px;
  box-sizing: border-box;
  z-index: 3;
}
.frame-container,
.search-bar,
.search-bar-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.search-bar-wrapper {
  width: 463px;
  flex-direction: column;
  padding: var(--padding-14xl) 0 0;
  box-sizing: border-box;
  margin-left: -838px;
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
}
.automotive-iba-jam,
.packaging-machine {
  margin: 0;
}
.automotive-iba-jam-container,
.precision-packaging-sealing {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.2em;
  line-height: 100%;
  font-family: inherit;
  z-index: 1;
}
.automotive-iba-jam-container {
  align-self: stretch;
  font-weight: 700;
}
.precision-packaging-sealing {
  font-weight: 300;
}
.down-arrow-1-icon {
  height: 131px;
  width: 17px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.down-arrow-1-wrapper {
  width: 963px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.precision-packaging-sealing-y-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 153px;
  max-width: 100%;
}
.frame-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-7xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: 35px;
}
.automotive-iba-jam-packaging-parent {
  width: 1662px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 26px;
  max-width: 100%;
}
.page-inner,
.page1 {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.page-inner {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-3xl);
  text-align: center;
  font-size: 120px;
}
.page1 {
  background-color: #06141b;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 123px;
  position: relative;
  gap: 255.8px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
.elevating-packaging-perfection,
.unwrapping-efficiency {
  margin: 0;
}
.unwrapping-efficiency-elevati-container1 {
  width: 100%;
}
.unwrapping-efficiency-elevati-container {
  margin: 0 !important;
  height: 287px;
  width: 1493px;
  position: absolute;
  top: 101px;
  right: -566px;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.icon,
.rectangle-div {
  position: relative;
  max-width: 100%;
}
.rectangle-div {
  align-self: stretch;
  width: 960px;
  background-color: var(--color-gray-100);
  display: none;
}
.icon {
  height: 750px;
  flex: 1;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.rectangle-container {
  flex: 1;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 4px;
  box-sizing: border-box;
  max-width: calc(100% - 960px);
}
.welcome-to-aijpm {
  margin: 0;
  height: 43px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.4em;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.experience-efficiency-and,
.innovative-solutions-ensure,
.machinery-designed-for,
.revolutionize-your-packaging,
.with-our-advanced {
  margin: 0;
}
.revolutionize-your-packaging-container {
  margin: 0;
  align-self: stretch;
  height: 288px;
  position: relative;
  font-size: 33px;
  line-height: 50px;
  font-weight: 300;
  font-family: inherit;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
}
.page-child,
.page2,
.welcome-to-aijpm-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.welcome-to-aijpm-parent {
  align-self: stretch;
  flex-direction: column;
  gap: 221px;
  max-width: 100%;
}
.page-child,
.page2 {
  box-sizing: border-box;
}
.page-child {
  width: 927px;
  flex-direction: column;
  padding: 101px 0 0;
  max-width: calc(100% - 993px);
  flex-shrink: 0;
  text-align: center;
  font-size: 34px;
  color: var(--color-red-100);
}
.page2 {
  align-self: stretch;
  height: 750px;
  background-color: #0b0b0b;
  flex-direction: row;
  padding: 0 0 97px;
  position: relative;
  gap: 33px;
  max-width: 100%;
  text-align: left;
  font-size: 63px;
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
.ouitraining {
  width: 16px;
  height: 16px;
  position: absolute;
  margin: 0 !important;
  top: 349px;
  right: -16px;
  overflow: hidden;
  flex-shrink: 0;
}
.excellence {
  color: var(--color-red-100);
}
.achieve-excellence-with-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.at-aijpm-were {
  width: 1357px;
  position: relative;
  text-transform: capitalize;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.at-aijpm-were-passionate-abo-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-11xl);
}
.achieve-excellence-with-our-ma-parent,
.page-inner1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.achieve-excellence-with-our-ma-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.page-inner1 {
  width: 1776px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
}
.maintenance-and-repair {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}
.maintenance-and-repair-service-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0 0;
  box-sizing: border-box;
  min-width: 208px;
}
.wpfmaintenance-icon {
  height: 80px;
  width: 80px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.consultation-and-training {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}
.consultation-and-training-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xl);
}
.vector-icon {
  height: 80px;
  width: 80px;
  position: relative;
}
.frame-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-xs);
  max-width: 100%;
}
.technical-support {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  flex-shrink: 0;

}
.technical-support-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-mini);
}
.fluentperson-support-20-fille-icon {
  height: 80px;
  width: 75.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent5 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 14.4px;
}
.frame-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 2px;
}
.frame-parent2,
.frame-wrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent2 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-61xl);
}
.frame-wrapper2 {
  width: 412px;
  align-items: flex-start;
  padding: 0 0 var(--padding-24xl);
  box-sizing: border-box;
  min-height: 443px;
}
.frame-child1,
.icon1 {
  position: relative;
  max-width: 100%;
}
.frame-child1 {
  align-self: stretch;
  width: 910px;
  background-color: var(--color-gainsboro-200);
  display: none;
}
.icon1 {
  height: 495px;
  flex: 1;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent1 {
  flex: 1;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 591px;
  max-width: 100%;
}
.carbondelivery-parcel-icon {
  height: 80px;
  width: 80px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.logistics-and-distribution {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}
.logistics-and-distribution-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0 0;
}
.carbondelivery-parcel-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  max-width: 100%;
}
.elcogs-icon {
  height: 80px;
  width: 80px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parts-and-consumables {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}
.parts-and-consumables-supply-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xl);
}
.elcogs-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-sm);
  max-width: 100%;
}
.fa6-solidhelmet-safety-icon {
  height: 80px;
  width: 80px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.safety-and-compliance {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}
.safety-and-compliance-assistan-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-mini);
  box-sizing: border-box;
  min-width: 216px;
  max-width: 100%;
}
.fa6-solidhelmet-safety-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-sm);
  max-width: 100%;
}
.frame-parent6 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-61xl);
}
.frame-parent1,
.frame-parent6,
.frame-wrapper4,
.page3 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper4 {
  width: 426px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-24xl);
  box-sizing: border-box;
  min-height: 443px;
}
.frame-parent1,
.page3 {
  align-self: stretch;
}
.frame-parent1 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 22px;
  font-size: var(--font-size-xl);
}
.page3 {
  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.17);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-xl) 56px 17px 72px;
  position: relative;
  gap: var(--gap-16xl);
  flex-shrink: 0;
  z-index: 2;
}
.page-child1,
.page-child2,
.page-child3,
.page-child4,
.page-item,
.rectangle-textarea {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--color-gainsboro-300);
  width: 308px;
  height: 285px;
}
.page-child1,
.page-child2,
.page-child3,
.page-child4,
.rectangle-textarea {
  top: 305px;
}
.page-child2,
.page-child3,
.page-child4,
.rectangle-textarea {
  top: 10px;
  left: 647px;
}
.page-child3,
.page-child4,
.rectangle-textarea {
  top: 305px;
}
.page-child4,
.rectangle-textarea {
  top: 10px;
  left: 1283px;
}
.rectangle-textarea {
  border: 0;
  outline: 0;
  top: 305px;
}
.page-child10,
.page-child5,
.page-child6,
.page-child7,
.page-child8,
.page-child9 {
  position: absolute;
  top: 10px;
  left: 328px;
  background-color: var(--color-gainsboro-300);
  width: 308px;
  height: 285px;
}
.page-child10,
.page-child6,
.page-child7,
.page-child8,
.page-child9 {
  top: 305px;
}
.page-child10,
.page-child7,
.page-child8,
.page-child9 {
  top: 10px;
  left: 965px;
}
.page-child10,
.page-child8,
.page-child9 {
  top: 305px;
}
.page-child10,
.page-child9 {
  top: 10px;
  left: 1601px;
}
.page-child10 {
  top: 305px;
}
.icon2,
.icon3,
.icon4,
.icon5 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 308px;
  height: 285px;
  object-fit: contain;
  z-index: 1;
}
.icon3,
.icon4,
.icon5 {
  left: 328px;
  width: 309px;
}
.icon4,
.icon5 {
  left: 647px;
  width: 308px;
}
.icon5 {
  top: 58px;
  left: 969px;
  width: 306px;
  height: 190px;
}
.icon10,
.icon11,
.icon12,
.icon13,
.icon6,
.icon7,
.icon8,
.icon9 {
  position: absolute;
  top: 10px;
  left: 1602px;
  width: 308px;
  height: 285px;
  object-fit: contain;
  z-index: 1;
}
.icon10,
.icon11,
.icon12,
.icon13,
.icon7,
.icon8,
.icon9 {
  left: 1283px;
  width: 309px;
}
.icon10,
.icon11,
.icon12,
.icon13,
.icon8,
.icon9 {
  top: 335px;
  left: 10px;
  width: 308px;
  height: 240px;
}
.icon10,
.icon11,
.icon12,
.icon13,
.icon9 {
  top: 353px;
  left: 328px;
  width: 309px;
  height: 203px;
}
.icon10,
.icon11,
.icon12,
.icon13 {
  top: 336px;
  left: 647px;
  width: 308px;
  height: 220px;
}
.icon11,
.icon12,
.icon13 {
  left: 965px;
}
.icon12,
.icon13 {
  left: 1283px;
  width: 310px;
}
.icon13 {
  left: 1602px;
  width: 308px;
}
.page4 {
  align-self: stretch;
  height: 600px;
  position: relative;
  background-color: var(--color-white);
  margin-top: -2px;
}
.page-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: center;
  font-size: 85px;
  color: var(--color-black);
  font-family: var(--font-source-sans-pro);
}
.wrapper-group-81-child {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 6px;
  transform: scale(1.031);
}
.wrapper-group-81 {
  height: 405px;
  width: 1926px;
  position: absolute;
  margin: 0 !important;
  bottom: -340px;
  left: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.frame-child2 {
  height: 726px;
  width: 1919px;
  position: relative;
  background-color: var(--color-whitesmoke);
  display: none;
  max-width: 100%;
}
.our {
  color: var(--color-red-200);
}
.meet-our-expert-txt {
  line-break: anywhere;
  width: 100%;
}
.meet-our-expert {
  margin: 0;
  height: 135px;
  width: 1920px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}
.page-inner2,
.rectangle-parent2 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent2 {
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-33xl) var(--padding-xl) var(--padding-33xl)
    var(--padding-5xl);
  min-height: 726px;
}
.page-inner2 {
  width: 1919px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs);
}
.rectangle-icon {
  width: 394.7px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  max-height: 100%;
  z-index: 1;
}
.cto,
.kyle-anthony-rosell {
  position: relative;
  z-index: 2;
}
.kyle-anthony-rosell {
  align-self: stretch;
  font-weight: 600;
}
.cto {
  font-weight: 500;
  display: inline-block;
  min-width: 51px;
}
.cto-wrapper,
.vector-parent {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.cto-wrapper {
  width: 259.1px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  margin-top: -4px;
  font-size: var(--font-size-5xl);
  color: var(--color-2);
}
.vector-parent {
  width: 448.1px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-50xl) 76px;
  position: relative;
  min-height: 139px;
  max-width: 100%;
  flex-shrink: 0;
}
.frame-child3,
.frame-child4,
.frame-child5,
.frame-child6 {
  width: 313px;
  position: relative;
  border-radius: var(--br-xl);
  object-fit: cover;
}
.frame-child3,
.frame-child4,
.frame-child5 {
  align-self: stretch;
  max-height: 100%;
  min-height: 449px;
}
.frame-child6 {
  height: 396px;
}
.rectangle-parent3 {
  width: 1657px;
  margin: 0 !important;
  position: absolute;
  top: -378px;
  right: -807.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-child7 {
  width: 394.7px;
  position: relative;
  border-radius: var(--br-xl);
  max-height: 100%;
  display: none;
  max-width: 100%;
  z-index: 1;
}
.daphnie-sanchez {
  width: 306.7px;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  z-index: 2;
}
.product-manager {
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 2;
}
.product-manager-wrapper,
.vector-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.product-manager-wrapper {
  width: 294px;
  flex-direction: row;
  padding: 0 var(--padding-6xs);
  margin-top: -4px;
  font-size: var(--font-size-5xl);
  color: var(--color-2);
}
.vector-group {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 86px;
  max-width: 100%;
  z-index: 1;
}
.frame-child8,
.frame-parent7 {
  position: relative;
  max-width: 100%;
}
.frame-parent7 {
  height: 139px;
  width: 448.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.frame-child8 {
  width: 394.7px;
  border-radius: var(--br-xl);
  max-height: 100%;
  display: none;
}
.john-rebato {
  flex: 1;
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.john-rebato-wrapper {
  width: 258px;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
}
.project-manager {
  width: 266.7px;
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-2);
  display: flex;
  align-items: center;
  z-index: 2;
}
.frame-child9,
.vector-container {
  border-radius: var(--br-xl);
  z-index: 1;
}
.vector-container {
  height: 139px;
  width: 431.8px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 var(--padding-79xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.frame-child9 {
  width: 411px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
}
.rosebelle-marie-romeo {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.marketing {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 122px;
  z-index: 2;
}
.marketing-wrapper {
  width: 296.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  margin-top: -2px;
  font-size: var(--font-size-5xl);
  color: var(--color-2);
}
.images,
.vector-parent1 {
  display: flex;
  max-width: 100%;
}
.vector-parent1 {
  width: 434.1px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 var(--padding-50xl) 54px;
  box-sizing: border-box;
  position: relative;
  min-height: 139px;
  flex-shrink: 0;
  font-size: 23px;
}
.images {
  width: 1775px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-xs);
  min-height: 517px;
  z-index: 1;
  margin-left: -1846px;
  text-align: left;
  font-size: var(--font-size-6xl);
}
.page-wrapper,
.page5,
.wrapper-group-81-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.page5 {
  flex: 1;
  background-color: var(--color-white);
  align-items: flex-end;
  padding: var(--padding-4xl) 0 0 var(--padding-12xs);
  box-sizing: border-box;
  z-index: 1;
}
.page-wrapper,
.wrapper-group-81-parent {
  align-items: flex-start;
}
.page-wrapper {
  flex: 1;
  padding: 0 0 53px;
  box-sizing: border-box;
}
.wrapper-group-81-parent {
  align-self: stretch;
  position: relative;
  text-align: center;
  font-size: 90px;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.get-a-quote {
  height: 51.4px;
  width: 871.8px;
  position: relative;
  letter-spacing: 0.4em;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.get-a-quote-for-testing-use-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
.get-started {
  color: var(--color-red-200);
}
.span {
  color: var(--color-2);
}
.are-you-prepared-container {
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.18em;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
  margin: -27.4px 0 0;
}
.frame-parent10,
.get-a-quote1 {
  display: flex;
  flex-shrink: 0;
  max-width: 100%;
}
.frame-parent10 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.get-a-quote1 {
  margin: 0;
  height: 102.7px;
  width: 780.5px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.07em;
  font-weight: 700;
  font-family: inherit;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.frame-parent9,
.get-a-quote-right-now-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.get-a-quote-right-now-wrapper {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
.frame-parent9 {
  flex-direction: column;
  justify-content: flex-start;
  gap: 15.6px;
}
.frame-child10 {
  height: 74px;
  width: 243px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
}
.get-qoutation {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.21em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-source-sans-pro);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.frame-wrapper5,
.group-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 25px 31px var(--padding-7xl) 35px;
  background-color: var(--color-white);
  border-radius: var(--br-3xs);
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.group-button:hover {
  background-color: #e6e6e6;
}
.frame-wrapper5 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
}
.frame-parent8,
.main-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent8 {
  width: 1148.7px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 23.7px;
}
.main-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 40px var(--padding-4xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
.contact-us1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 112px;
}
.contact-us-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 767px;
}
.mj-cuenco-ave1,
.our-office-location1,
.p1 {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.mj-cuenco-ave1,
.p1 {
  font-weight: 300;
}
.aijpmgmailcom1 {
  margin: 0;
  font-weight: 300;
}
.our-office-location-container1 {
  align-self: stretch;
  position: relative;
}
.our-office-location-mj-cuenc-container {
  width: 348px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child11 {
  height: 45.8px;
  width: 46.5px;
  position: absolute;
  margin: 0 !important;
  top: 3.5px;
  left: 2.8px;
  background-color: var(--color-white);
}
.facebook-1-icon1 {
  height: 53.4px;
  width: 53.4px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frame-wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xl-9);
}
.frame-child12 {
  position: absolute;
  width: calc(100% - 18.9px);
  top: 8.7px;
  right: 9.1px;
  left: 9.8px;
  background-color: var(--color-white);
  height: 59.9px;
}
.instagram-1-11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent5 {
  align-self: stretch;
  height: 78.3px;
  position: relative;
}
.frame-wrapper7 {
  width: 78.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-smi-5);
  box-sizing: border-box;
}
.ellipse-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
}
.pinterest-1-icon1 {
  position: absolute;
  top: 8.1px;
  left: 8.1px;
  width: 33.7px;
  height: 33.7px;
  object-fit: contain;
  z-index: 1;
}
.ellipse-parent {
  align-self: stretch;
  height: 49.8px;
  position: relative;
}
.frame-wrapper8 {
  width: 49.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 26.7px;
  box-sizing: border-box;
}
.frame-child13 {
  position: absolute;
  height: calc(100% - 11.8px);
  top: 5.9px;
  bottom: 5.9px;
  left: 5.9px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 93.2px;
}
.twitter-1-11 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 105px;
  object-fit: cover;
  z-index: 1;
}
.frame-child14 {
  height: 50.7px;
  width: calc(100% - 12.4px);
  position: absolute;
  margin: 0 !important;
  right: 6.2px;
  bottom: 18.6px;
  left: 6.2px;
  background-color: var(--color-white);
}
.youtube1-1-icon1 {
  height: 89px;
  width: 89px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.rectangle-parent6 {
  position: absolute;
  top: 8.9px;
  left: 103.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-group {
  height: 105px;
  flex: 1;
  position: relative;
}
.frame-parent13,
.frame-parent14 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-parent14 {
  flex: 1;
  gap: 8.1px;
  min-width: 162px;
}
.frame-parent13 {
  width: 423.6px;
  gap: 20.9px;
  max-width: 100%;
}
.frame-parent11,
.frame-parent12 {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.frame-parent12 {
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
}
.frame-parent11 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.may-20241 {
  position: relative;
  display: inline-block;
  min-width: 105px;
}
.may-2024-wrapper,
.page-container,
.page6 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.may-2024-wrapper {
  width: 1417px;
  flex-direction: row;
  justify-content: center;
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
}
.page-container,
.page6 {
  box-sizing: border-box;
}
.page6 {
  flex: 1;
  background-color: var(--color-black);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-106xl) 186px var(--padding-10xl) 251px;
  gap: 71px;
}
.page-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 5px 0 0;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
.main {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1700px) {
  .page-child,
  .rectangle-container {
    display: none;
    max-width: 100%;
  }
  .page2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .images {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1325px) {
  .rectangle-group {
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
  .precision-packaging-sealing-y-parent {
    gap: 76px;
  }
  .page1 {
    gap: 128px;
    padding-bottom: 80px;
    box-sizing: border-box;
  }
  .welcome-to-aijpm-parent {
    gap: 110px;
  }
  .page3 {
    padding-left: 36px;
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .contact-us-container {
    padding-left: 383px;
    box-sizing: border-box;
  }
  .frame-parent12 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .page6 {
    gap: var(--gap-16xl);
    padding-left: var(--padding-106xl);
    padding-right: 93px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .home-parent {
    gap: 50px;
  }
  .automotive-iba-jam-container {
    font-size: var(--font-size-29xl);
    line-height: 72px;
  }
  .precision-packaging-sealing {
    font-size: 28px;
    line-height: 28px;
  }
  .precision-packaging-sealing-y-parent {
    gap: 38px;
  }
  .page1 {
    gap: 64px;
    padding-bottom: var(--padding-33xl);
    box-sizing: border-box;
  }
  .unwrapping-efficiency-elevati-container {
    font-size: 50px;
  }
  .welcome-to-aijpm {
    font-size: var(--font-size-8xl);
  }
  .revolutionize-your-packaging-container {
    font-size: 26px;
    line-height: 40px;
  }
  .welcome-to-aijpm-parent {
    gap: 55px;
  }
  .page-child,
  .page2 {
    box-sizing: border-box;
  }
  .page-child {
    padding-top: var(--padding-47xl);
  }
  .page2 {
    gap: 16px;
    padding-bottom: 63px;
  }
  .achieve-excellence-with-container {
    font-size: 42px;
  }
  .at-aijpm-were {
    font-size: var(--font-size-5xl);
  }
  .rectangle-parent1 {
    min-width: 100%;
  }
  .page3 {
    gap: 17px;
  }
  .meet-our-expert {
    font-size: 45px;
  }
  .page-wrapper {
    padding-bottom: 34px;
    box-sizing: border-box;
  }
  .are-you-prepared-container,
  .get-a-quote1 {
    font-size: var(--font-size-19xl);
  }
  .page6 {
    gap: 18px;
    padding-left: 62px;
    padding-right: 46px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .automotive-iba-jam-container {
    font-size: var(--font-size-11xl);
    line-height: 48px;
  }
  .precision-packaging-sealing {
    font-size: 21px;
    line-height: 21px;
  }
  .unwrapping-efficiency-elevati-container {
    font-size: var(--font-size-19xl);
  }
  .welcome-to-aijpm {
    font-size: var(--font-size-xl);
  }
  .revolutionize-your-packaging-container {
    font-size: var(--font-size-xl);
    line-height: 30px;
  }
  .page2 {
    padding-bottom: 41px;
    box-sizing: border-box;
  }
  .achieve-excellence-with-container {
    font-size: var(--font-size-6xl);
  }
  .at-aijpm-were {
    font-size: var(--font-size-lg);
  }
  .maintenance-and-repair {
    font-size: var(--font-size-base);
  }
  .frame-parent3 {
    flex-wrap: wrap;
  }
  .consultation-and-training {
    font-size: var(--font-size-base);
  }
  .frame-parent4 {
    flex-wrap: wrap;
  }
  .technical-support {
    font-size: var(--font-size-base);
  }
  .frame-parent2 {
    gap: var(--gap-21xl);
  }
  .frame-wrapper2 {
    padding-bottom: var(--padding-9xl);
    box-sizing: border-box;
  }
  .logistics-and-distribution {
    font-size: var(--font-size-base);
  }
  .carbondelivery-parcel-parent {
    flex-wrap: wrap;
  }
  .parts-and-consumables {
    font-size: var(--font-size-base);
  }
  .elcogs-parent {
    flex-wrap: wrap;
  }
  .safety-and-compliance {
    font-size: var(--font-size-base);
  }
  .fa6-solidhelmet-safety-parent {
    flex-wrap: wrap;
  }
  .frame-parent6 {
    gap: var(--gap-21xl);
  }
  .frame-wrapper4 {
    padding-bottom: var(--padding-9xl);
    box-sizing: border-box;
  }
  .meet-our-expert {
    font-size: var(--font-size-8xl);
  }
  .kyle-anthony-rosell {
    font-size: var(--font-size-xl);
  }
  .cto {
    font-size: var(--font-size-lgi);
  }
  .vector-parent {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .daphnie-sanchez {
    font-size: var(--font-size-xl);
  }
  .product-manager {
    font-size: var(--font-size-lgi);
  }
  .vector-group {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .john-rebato {
    font-size: var(--font-size-xl);
  }
  .project-manager {
    font-size: var(--font-size-lgi);
  }
  .vector-container {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .rosebelle-marie-romeo {
    font-size: var(--font-size-lg);
  }
  .marketing {
    font-size: var(--font-size-lgi);
  }
  .vector-parent1 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .page-wrapper {
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .get-a-quote {
    font-size: var(--font-size-lgi);
  }
  .are-you-prepared-container,
  .get-a-quote1 {
    font-size: var(--font-size-10xl);
  }
  .contact-us1 {
    font-size: var(--font-size-lgi);
  }
  .contact-us-container {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent13 {
    flex-wrap: wrap;
  }
  .page6 {
    padding-top: 81px;
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
