.banner1-1-icon1,
.login-child {
  max-width: 100%;
}
.login-child {
  width: 960px;
  height: 2000px;
  position: relative;
  background-color: var(--color-gray-100);
  display: none;
  z-index: 0;
  top: 500px;
}
.nav-inner {
    width: 1323px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xl) 0;
    box-sizing: border-box;
  }
  .nav,
  .nav-inner,
  .rectangle-group {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .nav {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
    z-index: 2;
  }
  .rectangle-group {
    width: 1920px;
    background-color: var(--color-black);
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-47xl);
    box-sizing: border-box;
    z-index: 1;
  }
  .search-bar-child {
    height: 50.2px;
    width: 463px;
    position: relative;
    border-radius: var(--br-4xl);
    background-color: var(--color-gainsboro-100);
    display: none;
    max-width: 100%;
  }
  .frame-inner,
  .search {
    position: relative;
    z-index: 1;
  }
  .search {
    width: 401px;
    border: 0;
    outline: 0;
    font-weight: 300;
    font-family: var(--font-montserrat);
    font-size: var(--font-size-xl);
    background-color: transparent;
    height: 37.1px;
    color: #969696;
    text-align: left;
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 0;
  }
.banner1-1-icon1 {
  width: 100%;
  height: 1600px;
  position: absolute;
  margin: 0 !important;
  top: -2px;
  right: 0;
  left: 0;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.login-wrapper,
.login1 {
  display: flex;
  max-width: 100%;
}
.login1 {
  margin: 0;
  width: 361px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.21em;
  font-weight: 700;
  font-family: inherit;
  align-items: center;
  z-index: 2;
}
.login-wrapper {
  width: 500px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.frame-child15 {
  height: 96px;
  width: 726px;
  position: relative;
  border-radius: var(--br-64xl);
  background-color: var(--color-gainsboro-100);
  display: none;
  max-width: 100%;
}
.user-1-11,
.username {
  position: relative;
  z-index: 3;
}
.user-1-11 {
  height: 44px;
  width: 44px;
  object-fit: contain;
}
.username {
  width: 164px;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-source-sans-pro);
  font-size: var(--font-size-9xl);
  background-color: transparent;
  height: 36px;
  letter-spacing: 0.21em;
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.login-inner,
.rectangle-parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent7 {
  flex: 1;
  border-radius: var(--br-64xl);
  background-color: var(--color-gainsboro-100);
  padding: var(--padding-5xl) var(--padding-6xl) var(--padding-9xl);
  gap: var(--gap-11xl);
  z-index: 2;
}
.login-inner {
  width: 726px;
  padding: 0 0 var(--padding-8xl);
}
.frame-child16 {
  height: 96px;
  width: 726px;
  position: relative;
  border-radius: var(--br-64xl);
  background-color: var(--color-gainsboro-100);
  display: none;
  max-width: 100%;
}
.password,
.sku-icon {
  position: relative;
  z-index: 3;
}
.sku-icon {
  height: 51.8px;
  width: 44px;
}
.password {
  letter-spacing: 0.21em;
  font-weight: 300;
}
.password-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs-8);
}
.sku-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.show {
  position: relative;
  letter-spacing: 0.21em;
  display: inline-block;
  min-width: 89px;
  z-index: 3;
}
.show-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs-8);
}
.rectangle-parent8 {
  align-self: stretch;
  border-radius: var(--br-64xl);
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-23xl) 20.2px var(--padding-6xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 2;
}
.for-a-tenure-of-months {
  height: 47px;
  width: 51px;
  position: relative;
  background-color: transparent;
  border: 2.5px solid #f5f5f5;
  box-sizing: border-box;
  z-index: 2;
}
.remember-me {
  position: relative;
  letter-spacing: 0.21em;
  z-index: 2;
}
.remember-me-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
}
.for-a-tenure-of-months-parent {
  width: 277px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 23px;
}
.forgot-password {
  position: relative;
  letter-spacing: 0.21em;
  z-index: 2;
}
.forgot-password-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
  color: var(--color-red-200);
}
.frame-parent15 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-section,
.frame-wrapper9 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper9 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-23xl) 0 var(--padding-24xl);
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.frame-section {
  width: 726px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  gap: 25px;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-source-sans-pro);
}
.frame-child17 {
  height: 86px;
  width: 726px;
  position: relative;
  border-radius: var(--br-64xl);
  background-color: var(--color-gainsboro-100);
  display: none;
  max-width: 100%;
}
.login2 {
  width: 153px;
  position: relative;
  font-size: 40px;
  letter-spacing: 0.21em;
  display: flex;
  font-family: var(--font-source-sans-pro);
  color: var(--color-black);
  text-align: left;
  align-items: center;
  z-index: 3;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-xl) var(--padding-lg)
    var(--padding-8xl);
  background-color: var(--color-gainsboro-100);
  align-self: stretch;
  border-radius: var(--br-64xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
}
.frame-button:hover {
  background-color: #bfbfbf;
}
.dont-have-an,
.sign-up {
  position: relative;
  letter-spacing: 0.11em;
  display: inline-block;
  z-index: 2;
}
.dont-have-an {
  max-width: 100%;
}
.sign-up {
  color: var(--color-red-100);
  min-width: 110px;
  white-space: nowrap;
}
.dont-have-an-account-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-footer,
.frame-wrapper10,
.login {
  display: flex;
  justify-content: flex-start;
}
.frame-wrapper10 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-14xl) 0 var(--padding-6xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-footer,
.login {
  flex-direction: column;
  text-align: left;
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
.frame-footer {
  width: 726px;
  align-items: flex-start;
  gap: 27px;
  max-width: 100%;
  font-size: var(--font-size-9xl);
}
.login {
  width: 100%;
  position: relative;
  border-radius: var(--br-49xl);
  background-color: var(--color-gray-100);
  align-items: center;
  padding: var(--padding-66xl) var(--padding-xl) 120px;
  box-sizing: border-box;
  gap: 86px;
  line-height: normal;
  letter-spacing: normal;
  font-size: 100px;
}
@media screen and (max-width: 750px) {
  .login1 {
    font-size: var(--font-size-31xl);
  }
  .frame-wrapper9,
  .rectangle-parent8 {
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .frame-wrapper9 {
    padding-left: var(--padding-2xl);
  }
  .login2 {
    font-size: 32px;
  }
  .login {
    gap: 43px;
  }
}
@media screen and (max-width: 675px) {
  .dont-have-an-account-parent,
  .frame-parent15 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .login1 {
    font-size: var(--font-size-11xl);
  }
  .username {
    font-size: var(--font-size-3xl);
  }
  .rectangle-parent7 {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  .password,
  .show {
    font-size: var(--font-size-3xl);
  }
  .rectangle-parent8 {
    flex-wrap: wrap;
  }
  .forgot-password,
  .remember-me {
    font-size: var(--font-size-lgi);
  }
  .login2 {
    font-size: var(--font-size-5xl);
  }
  .dont-have-an,
  .sign-up {
    font-size: var(--font-size-3xl);
  }
  .login {
    gap: 21px;
  }
}
